* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat';font-size: 22px;
}

body {
    height: 100vh;
}
  
.main {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgrey;
}

.navbar .logo {
    height: 100px;
}

.navbar .links {
    display: flex;
    width: 80%;
    margin: 10px 0px 0px 10px;
    gap: 15px;
    justify-content: flex-end;
}

.navbar .links .home {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.navbar .links a {
    font-size: 15px;
    color: #ad987a;
    text-decoration: none;
}

.navbar .links a:hover {
    border-bottom: 1px solid;
}

.navbar .redes {
    display: flex;
    gap: 15px;
    margin-left: 25px;
}

.navbar .redes svg:hover {
    fill: grey;
}