* {
    font-family: 'Montserrat';font-size: 22px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
}

.slide {
    display: flex;
    flex-direction: column;
}

.slide img {
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #204f2a;
    width: 100%;
    min-height: 90px;
    gap: 15px;
}

.types button {
    font-size: 20px;
    border-radius: 50px;
    border: 1.5px solid #ad9778;
    background-color: white;
    min-width: 160px;
    color:  #ad9778;
}

.types button:hover {
    color: white;
    background-color: #ad9778;
    cursor: pointer;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    padding: 0px 10%;

}

.coffees, .teas, .drinks, .sandwiches, .sweets, .waters{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.products h1 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #baa88d;
}

.line {
    font-size: 15px;
    font-weight: bolder;
    color: rgba(0, 0, 0, .5);
    letter-spacing: 1px; 
    display: inline-flex; 
    align-items: center; 
    width: 100%; 
}

.line::after {
    content: "";
    flex-grow: 1;
    height: 1px; 
    background: #baa88d; 
    margin-left: 10px; 
}

.img-face {
    border-radius: 30px;
    width: 500px;
    max-width: 100%;
}


.products .product {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    width: 100%;
}

#last {
    border: none;
}

.products .product img {
    width: 110px;
    height: 110px;
    max-width: 100%;
}

.products .name-price {
    width: 100px;
}

.products .name-price h5{
    font-size: 16px;
    color: #baa88d;
    
}

.products .name-price p {
    color: #baa88d;
    font-size: 14px;
}

.products .product-desc {
    color:#baa88d;
    font-size: 14px;
    margin-left: 5%;
}

.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 30px;
    width: 100%;
    height: auto;
    padding: 2.5% 0px;
}

.warning p {
    color: #baa88d;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
}

footer {
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    
    .products {
        align-items: center;
    }

    .slide {
        max-height: 300px;
    }

    .types {
        overflow-x: auto;
        position: relative;
    }

    .type-buttons {
        display: flex;
        gap: 15px;
        position: absolute;
        left: 5%;
    }

    .type-buttons button {
        font-size: 16px;
        width: auto;
        max-width: auto;
    }
    .product {
        flex-direction: column;
        text-align: center;
    }
}
